{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_option, render_boolean, attendance_status %}

{% block caption %}
Bewerber: {{ form.first_name.data ~ " " ~ form.last_name.data }}
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        <h3 class="ui dividing header">Persönliche Angaben</h3>
        {{ render_input(form.first_name, required=False) }}
        {{ render_input(form.last_name, required=False) }}
        {{ render_input(form.phone, required=False) }}
        {{ render_input(form.mail, required=False) }}
        {{ render_input(form.tag, required=False) }}
        {{ render_option(form.origin) }}

        {{ render_option(form.degree) }}
        {{ render_input(form.semester) }}

        {% if form.get_attendances() %}
        <h3 class="ui dividing header">Teilnahmen</h3>
        <table class="ui selectable sortable compact small striped table">
            <tbody>
                {% for attendance in form.get_attendances() %}
                <tr>
                    <td>
                        <a href="{{ url_for('course', id=attendance.course.id ) }}"> {{ attendance.course.full_name }} </a>
                    </td>
                    <td>
                        {{ 'A' ~ attendance.applicant.id ~ 'C' ~ attendance.course.id }}
                    </td>
                    <td>
                        <a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
                            {{ attendance_status(attendance) }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {{ render_option(form.remove_from, help='Aus folgendem Kurs entfernen') }}
        {{ render_option(form.add_to, help='Zu folgendem Kurs hinzufügen') }}
        {{ render_boolean(form.send_mail) }}
        <h3 class="ui dividing header"></h3>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="changes_confirmed" required=true>
                <label for="changes_confirmed">Änderungen überprüft und alles ok?</label>
            </div>
        </div>
        <button class="fluid ui positive button">Änderungen speichern</button>
    </form>
</div>
{% endblock internal_body %}
