{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_submit, attendance_status %}

{% block caption %}
Kurs: <a href="{{ url_for('language', id=course.language.id) }}">{{ course.language.name }}</a> {{ course.level }} {{ course.alternative }}
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="ui message">
        <div class="header">Infos</div>
        <dl>
            <dt>Sprache &gt; exaktes Kurs-Level{% if course.alternative %} &gt; Alternative/Variante{% endif %}</dt>
            <dd>{{ course.language.name }} &gt; {{ course.level }}{% if course.alternative %} &gt; {{ course.alternative }}{% endif %}</dd>
            <dt>Kursgröße (maximal)</dt>
            <dd>{{ course.limit }} Teilnehmer</dd>
            <dt>Kosten (für nicht-gratis Teilnehmer)</dt>
            <dd>{{ course.price }} €</dd>
            {% if course.rating_lowest != 0 or course.rating_highest != 100 %}
            <dt>Benötigtes Testergebnis (inklusive Grenzen)</dt>
            <dd>{{ course.rating_lowest }}% &mdash; {{ course.rating_highest }}%</dd>
            {% endif %}
            <dt>Warteliste</dt>
            <dd>{% if course.has_waiting_list %}Ja{% else %}Nein{% endif %}</dd>
        </dl>
    </div>
</div>
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th>Identifikation</th>
                <th>Status</th>
                <th>Herkunft</th>
                <th>Nachrücken</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in course.attendances %}
            <tr>
                <td><a href="{{ url_for('applicant', id=attendance.applicant.id)}}">{{ attendance.applicant.first_name }}</a></td>
                <td><a href="{{ url_for('applicant', id=attendance.applicant.id)}}">{{ attendance.applicant.last_name }}</a></td>
                <td><a href="mailto:{{ attendance.applicant.mail }}">{{ attendance.applicant.mail }}</a></td>
                <td>{{ attendance.applicant.tag }}</td>
                <td>
                    <a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
                            {{ attendance_status(attendance) }}
                    </a>
                </td>
                <td>{{ attendance.applicant.origin.name }}</td>
                <td>{% if attendance.registered < attendance.course.language.signup_rnd_window_end %}Zufall{% else %}First-Come-First-Served{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if current_user.superuser %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        {# Do we need csrf when using post? #}
        <h3 class="ui dividing header">Alle wartenden Teilnehmer entfernen und Kurs löschen</h3>
        <p>Zuvor müssen alle aktiven Teilnehmer manuell aus dem Kurs entfernt worden sein.</p>
        <div class="ui toggle checkbox">
            <input type="checkbox" name="changes_confirmed" required=true>
            <label for="changes_confirmed">Sicher? Dies kann nicht rückgängig gemacht werden</label>
        </div>
        {{ render_submit(submit='Löschen', negative=True)}}
    </form>
</div>
{% endif %}
{% endblock internal_body %}
