{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import td_sorted %}

{% block caption %}
Sprache: {{ language.name }}
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <div class="ui message">
        <div class="header">Infos</div>
        <dl>
            <dt>Zeitraum Anmeldung Verlosungspool</dt>
            <dd><span class="fmt-datetime">{{ language.signup_rnd_begin }}</span> &mdash; <span class="fmt-datetime">{{ language.signup_rnd_end }}</span></dd>
            <dt>Zeitraum manuelle Zuweisung</dt>
            <dd><span class="fmt-datetime">{{ language.signup_manual_begin }}</span> &mdash; <span class="fmt-datetime">{{ language.signup_manual_end }}</span></dd>
            <dt>Zeitraum automatische Zuweisung</dt>
            <dd><span class="fmt-datetime">{{ language.signup_manual_end }}</span> &mdash; <span class="fmt-datetime">{{ language.signup_auto_end }}<</dd>
            <dt>Zeitraum Anmeldung FCFS</dt>
            <dd><span class="fmt-datetime">{{ language.signup_fcfs_begin }}</span> &mdash; <span class="fmt-datetime">{{ language.signup_fcfs_end }}</span></dd>
        </dl>
    </div>
</div>
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Kurs</th>
                <th>Maximal</th>
                <th>Restplätze</th>
                <th>Bewerber</th>
                <th>Aktive</th>
                <th>Warteliste</th>
                <th>Zahlungspf.</th>
                <th class="collapsing">Kurs-L.</th>
                <th class="collapsing">Anw.-L.</th>
                <th class="collapsing">Daten</th>
            </tr>
        </thead>
        <tbody>
            {% set sums = {'limit': 0, 'rest': 0, 'attendances': 0, 'active': 0, 'waiting': 0, 'paying': 0} %}
            {% for course in language.courses %}
            <tr>
                <td><a href="{{ url_for('course', id=course.id) }}"><strong>{{ course.full_name }}</strong></a></td>
                {{ td_sorted(course.limit) }}
                {{ td_sorted(course.vacancies) }}
                {{ td_sorted(course.count_attendances()) }}
                {{ td_sorted(course.count_attendances(waiting=False)) }}
                {{ td_sorted(course.count_attendances(waiting=True)) }}
                {{ td_sorted(course.count_attendances(is_free=False, waiting=False)) }}
                <td class="collapsing"><a href="{{ url_for('print_course', course_id=course.id) }}"><button type="button" class="ui button">PDF</button></a></td>
                <td class="collapsing"><a href="{{ url_for('print_course_presence', course_id=course.id) }}"><button type="button" class="ui button">PDF</button></a></td>
                <td class="collapsing"><a href="{{ url_for('export', type='course', id=course.id) }}"><button type="button" class="ui button">Export</button></a></td>
                </td>
            </tr>
            {% if sums.update({
              'limit': sums['limit'] + course.limit,
              'rest': sums['rest'] + course.vacancies,
              'attendances': sums['attendances'] + course.count_attendances(),
              'active': sums['active'] + course.count_attendances(waiting=False),
              'waiting': sums['waiting'] + course.count_attendances(waiting=True),
              'paying': sums['paying'] + course.count_attendances(is_free=False, waiting=False),
            }) %}{% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>&Sigma;</th>
                <th>{{ sums['limit'] }}</th>
                <th>{{ sums['rest'] }}</th>
                <th>{{ sums['attendances'] }}</th>
                <th>{{ sums['active'] }}</th>
                <th>{{ sums['waiting'] }}</th>
                <th>{{ sums['paying'] }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock internal_body %}
