{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import td_sorted %}

{% block caption %}
Sprachen
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Sprache</th>
                <th>Kurse</th>
                <th>Plätze</th>
                <th>Warteliste</th>
                <th>Aktive</th>
                <th>Zahlende</th>
                <th class="collapsing">Kurs-L.</th>
                <th class="collapsing">Anw.-L.</th>
                <th class="collapsing">Daten</th>
            </tr>
        </thead>
        <tbody>
            {% set sums = {'courses_t': 0, 'seats_t': 0, 'waiting_t': 0, 'active_t': 0, 'paying_t': 0} %}
            {% for language, courses, seats in lang_misc %}
            <tr>
                <td><a href="{{ url_for('language', id=language.id) }}"><strong>{{ language.name }}</strong></a></td>
                {{ td_sorted(courses) }}
                {{ td_sorted(seats) }}
                {{ td_sorted(language.get_waiting_attendances()|count) }}
                {{ td_sorted(language.get_active_attendances()|count) }}
                {{ td_sorted(language.get_paying_attendances()|count) }}
                <td class="collapsing"><a href="{{ url_for('print_language', language_id=language.id) }}"><button type="button" class="ui button">PDF</button></a></td>
                <td class="collapsing"><a href="{{ url_for('print_language_presence', language_id=language.id) }}"><button type="button" class="ui button">PDF</button></a></td>
                <td class="collapsing">
                    <a href="{{ url_for('export_language', language_id=language.id, format='csv') }}"><button type="button" class="ui button">CSV</button></a>
                    <a href="{{ url_for('export_language', language_id=language.id, format='xlsx') }}"><button type="button" class="ui button">Excel</button></a>
                </td>
            </tr>
            {% if sums.update({
                'courses_t': sums['courses_t'] + courses,
                'seats_t': sums['seats_t'] + seats,
                'waiting_t': sums['waiting_t'] + language.get_waiting_attendances()|count,
                'active_t': sums['active_t'] + language.get_active_attendances()|count,
                'paying_t': sums['paying_t'] + language.get_paying_attendances()|count
            }) %}
            {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>&Sigma;</th>
                <th>{{ sums['courses_t'] }}</th>
                <th>{{ sums['seats_t'] }}</th>
                <th>{{ sums['waiting_t'] }}</th>
                <th>{{ sums['active_t'] }}</th>
                <th>{{ sums['paying_t'] }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock internal_body %}
