{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_submit %}

{% block subcaption %}
{% endblock subcaption %}

{% block caption %}
Login
{% endblock caption %}


{% block body %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        {{ render_input(form.user) }}
        {{ render_input(form.password, type='password') }}
        {{ render_submit(submit='Login') }}
    </form>
</div>
{% endblock body %}
