{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_textarea, render_option, render_boolean, render_submit, render_file, render_tristate %}
{% from 'formhelpers.html' import render_multiple_files %}

{% block caption %}
Mail Zentrale
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <form class="ui form" method="post" id="confirm" enctype="multipart/form-data">
        {{ csrf_field() }}
        <h3 class="ui dividing header">Optionale Angaben</h3>
        {{ render_input(form.mail_cc, required=False) }}
        {{ render_input(form.mail_bcc, required=False) }}
        {{ render_multiple_files(form.attachments, required=False) }}
        <h3 class="ui dividing header">Benötigte Angaben</h3>
        {{ render_option(form.mail_sender) }}
        {{ render_input(form.mail_subject) }}
        {{ render_textarea(form.mail_body) }}
        <h3 class="ui dividing header">Empfänger der Mail</h3>
        {{ render_option(form.mail_courses, multiple=True, size=10) }}
        {{ render_tristate(form.waiting_filter) }}
        {{ render_tristate(form.unpaid_filter) }}

        <h3 class="ui dividing header"></h3>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="changes_confirmed" required=true>
                <label for="changes_confirmed">Mail überprüft und alles ok?</label>
            </div>
        </div>
        {{ render_submit(submit='Abschicken')}}
    </form>
</div>
{% endblock internal_body %}
