{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_submit, td_sorted %}

{% block caption %}
Zahlungen
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        <h3 class="ui dividing header">Belegungsnummer</h3>
            {{ render_input(form.confirmation_code, placeholder='A#C#', help='Vom Zahlenden zu referenzieren') }}
        {{ render_submit(submit='Weiter') }}
    </form>
</div>
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Zahlungsart</th>
                <th>Anzahl</th>
                <th>Summe</th>
                <th>Durchschnitt</th>
                <th>Minimum</th>
                <th>Maximum</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ 'Bar' if stat['cash'] else 'Überweisung' }}</td>
                {{ td_sorted(stat['count']) }}
                {{ td_sorted(stat['sum']) }}
                {{ td_sorted('%0.2f'|format(stat['avg'])) }}
                {{ td_sorted(stat['min']) }}
                {{ td_sorted(stat['max']) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock internal_body %}
