{% extends 'internal/internal.html' %}

{% block caption %}
Statistiken
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <a href="{{ url_for('free_courses') }}">
        <button class="ui button" type="button">Restplätze nach Kursen</button>
    </a>
    <a href="{{ url_for('origins_breakdown') }}">
        <button class="ui button" type="button">Aufteilung nach Herkunft</button>
    </a>
    <a href="{{ url_for('task_queue') }}">
        <button class="ui button" type="button">Warteschlange</button>
    </a>
</div>

{% endblock internal_body %}
