{% extends 'mails/basemail.html' %}

{% block message %}
Im Zuge des Nachrückverfahrens haben Sie einen Platz im oben genannten
Sprachkurs erhalten.

Wenn Sie am KIT immatrikuliert sind und in diesem Semester an maximal einem
Sprachkurs (inklusive diesem) teilnehmen, dürfen Sie einfach zum nächsten
Kurstermin erscheinen.

Andernfalls zahlen Sie bitte den Kurs zu den auf der Homepage genannten
Zeiten oder vereinbaren einen Sondertermin mit uns.

Falls Sie am Kurs NICHT teilnehmen können, teilen Sie uns dies bitte schnellst
möglich mit, damit andere Personen auf der Warteliste eine Chance erhalten.

Bitte verwenden Sie die für Ihren Sprachkurs zutreffende E-Mail-Adresse.
{% endblock message %}
