/***************************************
 **** Sidebar **************************
 **************************************/
body {
    background: #333 none repeat scroll 0% 0%;
}

.main {
    background: white;
    border-bottom-left-radius: 6px;
}

.main > .container {
    padding: 2em;
}

.main > .container > .grid > .row {
    max-width: 700px;
}

/***************************************
 **** Help/Error Annotations ***********
 **************************************/
.help-block {
    color: #767676;
    display: block;
    width: 100%;
}

.ui.form .ui.pointing.label,
.ui.form .ui.label[class*="pointing above"] {
    margin-top: 0.6666em !important;
    margin-bottom: 1em;
}

/***************************************
 **** Fill-width Inputs ****************
 **************************************/
.ui.form,
.ui.header {
    width: 100%;
}

.ui.label {
    min-width: 30%;
    text-align: right;
    cursor: default;
}
@media (max-width: 1000px) {
    .ui.label {
        min-width: 33%;
    }
}
@media (max-width: 600px) {
    .ui.label {
        width: 45%;
    }
    .ui.form .grouped.fields .ui.labeled > input {
        width: 55%;
    }
    .ui.form .grouped.fields .ui.labeled > .field,
    .ui.form .inline.fields .ui.labeled > .field {
        padding-left: 0.2em;
    }
    .ui.form .grouped.fields .ui.labeled > .field > .ui.checkbox > label,
    .ui.form .inline.fields .ui.labeled > .field > .ui.checkbox > label {
        padding-left: 1.1em;
    }
}

.kit-only {
    display: inline-block;
    width: 100%;
}

.ui.label > .icon {
    float: left;
    margin: 0 -1.5em 0 0.5em;
    transform: scale(1.4);
    width: 1.25em;
}

.ui.label > label {
    margin-left: 2.5em;
}

.ui.form .grouped.fields > .inline.fields > .labeled.input {
    width: 100%;
}

.ui.form .fields > .ui.labeled > .field {
    height: 1em;
    padding: 0.785714em;
}

.ui.form .inline.fields > .ui.labeled.input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ui.form .ui.search.dropdown > .search {
    width: 100% !important;
}

.ui.message {
    width: 100%;
}

/***************************************
 **** Required Fields ******************
 **************************************/
.ui.form .required.fields > .ui.labeled > .ui.label::after,
.ui.form .required.field > .ui.labeled > .ui.label::after {
    margin: -0.2em 0em 0em 0.2em;
    content: "*";
    color: #DB2828;
}

/***************************************
 **** Grouped Inputs *******************
 **************************************/
.ui.labeled.input > .ui.search.dropdown {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ui.form .grouped.fields > .field,
.ui.form .grouped.fields > .inline.fields {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.form .grouped.fields > .field > .labeled.input > .label,
.ui.form .grouped.fields > .inline.fields > .labeled.input > .label {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0;
}

.ui.form .grouped.fields > .field > .labeled.input > input,
.ui.form .grouped.fields > .field > .labeled.input > .ui.search.dropdown {
    border-bottom: none;
    border-radius: 0;
}

.ui.form .grouped.fields > *:first-child > .labeled.input > input,
.ui.form .grouped.fields > *:first-child > .labeled.input > .ui.search.dropdown {
    border-top-right-radius: 0.285714rem !important;
}

.ui.form .grouped.fields > *:last-child > .labeled.input > input,
.ui.form .grouped.fields > *:last-child > .labeled.input > .ui.search.dropdown {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-bottom-right-radius: 0.285714rem !important;
}

.ui.form .grouped.fields > *:first-child > .labeled.input > .label {
    border-top: none !important;
    border-top-left-radius: 0.285714rem !important;
}
.ui.form .grouped.fields > *:last-child > .labeled.input > .label {
    border-bottom-left-radius: 0.285714rem !important;
}

.ui.form .grouped.fields .prompt.label {
    white-space: normal;
    background: #FFFFFF !important;
    border: 1px solid #E0B4B4 !important;
    color: #9F3A38 !important;
}

.ui.form .grouped.fields .inline.fields {
    display: block;
}

/***************************************
 **** Centered Oversized Tables ********
 **************************************/
.ui.compact.small.table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.ui.compact.small.table .ui.button {
    font-size: 0.9em;
}

/***************************************
 **** Misc *****************************
 **************************************/
.license {
    width: 100%;
}

a > strong:only-child {
    display: inline-block;
}

.ui.buttons .or {
    cursor: default;
}
