Flask==0.10.1
Flask-Assets==0.8
Flask-Cache==0.12
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
SQLAlchemy==0.8.1
Sphinx==1.2b1
WTForms==1.0.4
Werkzeug==0.9.1
docutils==0.10
flake8==2.0
itsdangerous==0.21
mccabe==0.2.1
pep8==1.4.5
pyflakes==0.7.2
# Installation problems in Windows, see issue #17
# rcssmin==1.0.2
# rjsmin==1.0.6
webassets==0.8
wsgiref==0.1.2
