alabaster==0.7.12
amqp==1.4.9
anyjson==0.3.3
argon2==0.1.10
Babel==2.7.0
billiard==3.3.0.23
blinker==1.4
celery==3.1.23
click==7.0
decorator==4.0.10
dnspython3==1.12.0
docutils==0.12
email-validator==1.0.3
flake8==3.0.4
flake8-coding==1.3.0
Flask==1.0.2
Flask-Assets==0.12
Flask-Caching==1.4.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
git+https://github.com/reingart/pyfpdf.git@3114b4f249bbaca199af6312f1cc982f8585ade9#egg=fpdf
idna==2.8
imagesize==0.7.1
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.5.1
kombu==3.0.35
MarkupSafe==0.23
mccabe==0.5.2
openpyxl==2.6.2
pep8==1.7.1
pexpect==4.2.1
phonenumbers==8.10.15
pickleshare==0.7.5
prompt-toolkit==1.0.7
psycopg2-binary==2.8.3
ptyprocess==0.5.1
pycodestyle==2.0.0
pyflakes==1.2.3
Pygments==2.1.3
pyinotify==0.9.6
pysimplesoap==1.16.2
python-magic==0.4.15
pytz==2016.6.1
rcssmin==1.0.6
redis==2.10.5
requests==2.21.0
rjsmin==1.0.12
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.6
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.3.6
traitlets==4.2.2
uWSGI==2.0.17.1
wcwidth==0.1.7
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
pytest==4.6.4
