{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_option %}

{% block caption %}
Kurswünsche von <a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name ~ " " ~ applicant.last_name }}</a>
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <fieldset>
            <legend>Kurswünsche</legend>
            <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in applicant.attendances %}
                <tr>
                    <td><a href="{{ url_for('course', id=attendance.course.id ) }}"> {{ attendance.course.full_name }} </a></td>
                    <td>
                        <a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
                            {# TODO: use macro for status #}
                            {% if attendance.waiting %}
                                Warteliste
                            {% else %}
                                Fester Platz
                                {% if attendance.discount >= 1 %}
                                    Gebührenfrei
                                {% elif attendance.discount > 0 %}
                                    Ermäßigt
                                {% else %}
                                    Vollzahler
                                {% endif %}
                                {% if attendance.amountpaid > 0 %}
                                    {{ 'Barbezahlt:' if attendance.paidbycash else 'Überwiesen:' }} {{ attendance.amountpaid }} &euro;
                                {% elif 1 > attendance.discount %}
                                    Gebührenpflichtig
                                {% endif %}
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </fieldset>

    </table>
</div>

{% endblock internal_body %}
