{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_option, attendance_status %}

{% block caption %}
Kurswünsche von <a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name ~ " " ~ applicant.last_name }}</a>
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <fieldset>
            <legend>Kurswünsche</legend>
            <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in applicant.attendances %}
                <tr>
                    <td><a href="{{ url_for('course', id=attendance.course.id ) }}"> {{ attendance.course.full_name }} </a></td>
                    <td>
                        <a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
                            {{ attendance_status(attendance) }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </fieldset>

    </table>
</div>

{% endblock internal_body %}
