{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_submit %}

{% block caption %}
Bewerbersuche
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        {{ render_input(form.query, help="Suchen nach Vorname, Nachname, Mail und Matrikelnummer") }}
        {{ render_submit(submit='Suche starten') }}
    </form>
</div>
<div class="row">
    <h3 class="ui dividing header">Bewerber</h3>
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th>Matrikelnummer</th>
                <th>Kurswünsche</th>
            </tr>
        </thead>
        <tbody>
            {% for applicant in applicants %}
            <tr>
                <td><a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name }}</a></td>
                <td><a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.last_name }}</a></td>
                <td>{{ applicant.mail }}</td>
                <td>{{ applicant.tag if applicant.tag else '∅' }}</td>
                <td><a href="{{ url_for('applicant_attendances', id=applicant.id)}}">{{ applicant.attendances|count }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
