<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>KIT Sprachenzentrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% assets "all_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        {% assets "ie_js" %}
        <!--[if lt IE 9]>
        <script src="{{ ASSET_URL }}"></script>
        <![endif]-->
        {% endassets %}

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% block navbar %}
                    <li class="sidebar-brand"><a href="{{ url_for('index') }}">Anmeldung</a></li>
                    <li><a href="http://www.spz.kit.edu/"><span class="glyphicon glyphicon-home"></span> Sprachenzentrum</a></li>
                    <li><a href="http://www.spz.kit.edu/angebot.php"><span class="glyphicon glyphicon-globe"></span> Kursangebot</a></li>
                    <li><a href="http://www.spz.kit.edu/223.php"><span class="glyphicon glyphicon-list-alt"></span> Englischtest</a></li>
                    <li><a href="http://www.spz.kit.edu/gebuehren.php"><span class="glyphicon glyphicon-euro"></span> Gebühren</a></li>
                    <li><a href="http://www.spz.kit.edu/257.php"><span class="glyphicon glyphicon-calendar"></span> Barzahlungstermine</a></li>
                    <li><a href="http://www.spz.kit.edu/253.php"><span class="glyphicon glyphicon-info-sign"></span> Informationen</a></li>
                    {% endblock navbar %}
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="content-header">
                    <h1>
                        <a id="menu-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-align-justify"></i></a>
                        {% block caption %}
                        Anmeldung
                        {% endblock caption %}
                    </h1>
                    {% block subcaption %}
                    {% endblock subcaption %}
                </div>
                <div class="page-content inset">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                {% block alert %}
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>{{ category|capitalize }}:</strong> {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                {% endblock alert %}
                            </div>
                        </div>
                        <hr>
                        {% block body %}
                        {% endblock body %}
                        <hr>
                        <div class="row">
                            &nbsp;
                        </div>
                        <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <small>
                                    <p class="pull-left">
                                        <a href="{{ url_for('licenses') }}">Lizenzen</a>
                                        &middot;
                                        <a href="https://github.com/spz-signup/spz-signup">GitHub</a>
                                    </p>
                                    <p class="pull-right"><a href="#top">Nach oben</a></p>
                                </small>
                            </div>
                        </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </body>

    {% assets "all_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block scripts %}
    <script>
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>

    <script>
        "use strict";

        $('.fmt-datetime').each(function (idx, elem) {
            var $elem = $(elem);
            var fmt = moment.utc($elem.text()).local().format('MMMM Do YYYY, HH:mm');
            $elem.text(fmt);
        });
    </script>
    {% endblock scripts %}
</html>
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
