<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>KIT Sprachenzentrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% assets "all_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

        {# TODO(#10): <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> #}

        {% assets "ie_js" %}
        <!--[if lt IE 9]>
        <script src="{{ ASSET_URL }}"></script>
        <![endif]-->
        {% endassets %}

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block navbar %}
        {% endblock navbar %}

        <div class="container">
            <div class="row">
                <div class="col col-lg-12">
                    {% block alert %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ category|capitalize }}:</strong> {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% endblock alert %}
                </div>
            </div>
            {% block body %}
            {% endblock body %}
        </div>
    </body>

    {% assets "all_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block scripts %}
    <script>
        "use strict";

        $('.fmt-datetime').each(function (idx, elem) {
            var $elem = $(elem);
            var fmt = moment.utc($elem.text()).local().format('MMMM Do YYYY, HH:mm');
            $elem.text(fmt);
        });
    </script>
    {% endblock scripts%}
</html>
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
