{% extends 'baselayout.html' %}

{% block caption %}
Ihre Registrierung war erfolgreich
{% endblock caption %}


{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>{{ applicant.first_name ~ ' ' ~ applicant.last_name }} -- Sie wurden für den Kurs <strong>{{ course.language.name ~ ' ' ~ course.level }}</strong> verbindlich eingeschrieben. Bei einem Platz auf der Warteliste werden Sie beim eventuellen Nachrücken benachrichtigt.</p>

        <p>Ihre Kurse:</p>
        <ol>
        {% for attendance in applicant.attendances %}
            <li>{{ attendance.course.language.name ~ ' ' ~ attendance.course.level }}{% if attendance.waiting %} <strong>(Warteliste)</strong>{% elif attendance.has_to_pay %} <strong>(Zu zahlen: {{ attendance.course.price }} Euro)</strong>{% endif %}</li>
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
