{% extends 'baselayout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Ergebnis (RZ, 10.09.2013)</h1>
        </div>
    </div>
</div>
<div class="row">
<h4>{{erg.a}}</h4>
<h4>{{erg.b}}</h4>
<h4>{{erg.c}}</h4>
<h4>{{erg.d}}</h4>
<h4>{{erg.i}}</h4>
<h4>{{erg.e}}</h4>
<h4>{{erg.f}}</h4>
<h4>{{erg.g}}</h4>
<h4>{{erg.h}}</h4>

<h3>Hier muss noch geprüft werden: </h3>
<ul>
<li>Bei einem Englischkurs Zulässigkeit der Ebene <br>Wenn unzulässig Button zur Anmeldemaske mit gefilterten Kursen</li>
<li>Festerplatz, Warteliste oder gar nicht anhand der Platznummer </li>
<li>Gebührenfreiheit für KIT-Studeirende (gültige Matrikelnummer)</li>
<li>Gebührenfreiheit für den ersten Kurs (Anzahl der belegten Kurse)</li>
<li>Doppelte Anmeldung zu einem Kurs verhindern</li>
</ul>
<br>Status in die Tabelle Wünsche (attendances) eintragen.
<br>E-Mail versenden

<h3>Dann Bescheid zeigen mit Farben: rot(sorry, kein Platz mehr), grau(Warteliste) oder grün(fester Platz):</h3>
<ul>
<li>Hinweis auf Benachrichtigung per E-Mail </li>
<li>Button für Drucken des Bilschirmsinhalts </li>
<li>Link zu einem weiteren Kurs</li>
</ul>

</div>

{% endblock body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
