{% extends 'baselayout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Interner Bereich</h1>
            <small>
                {% if g.user %}
                Angemeldet als <strong>{{ g.user }}</strong>
                (<a href="#" class="signout">Abmelden</a>)
                {% else %}
                Nicht angemeldet. <a href="#" class="signin">Anmelden</a>
                {% endif %}
            </small>
        </div>
    </div>
</div>
{% if g.user %}
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Statistiken</h4>
                <p class="list-group-item-text text-info">Quantitative Information zum Anmeldeprozess</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Kurslisten</h4>
                <p class="list-group-item-text text-info">Listen der Teilnehmer je Kurs</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Mail Zentrale</h4>
                <p class="list-group-item-text text-info">Mails an Kursteilnehmer schicken</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Bewerber Zentrale</h4>
                <p class="list-group-item-text text-info">Bewerber erstellen, bearbeiten, löschen</p>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock body %}


{% block scripts %}
<script src="{{ config.PERSONA_JS }}"></script>
<script>
    var $URL_ROOT = {{ request.url_root|tojson }};
    var $CURRENT_USER = {{ g.user|tojson }};
</script>
<script src="{{ url_for('static', filename='js/persona.js') }}"></script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
