{% extends 'baselayout.html' %}

{% macro form_row(field, placeholder=None, required=True, required_extras=None) %}
<div class="row">
    <div class="control-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id }}" class="col col-lg-2 control-label">{{ field.label.text }}</label>
        <div class="col col-lg-8 controls">
            <input class="input-with-feedback" type="text" id="{{ field.id }}" name="{{ field.id }}" {% if field.data %}value="{{ field.data }}" {% endif %}placeholder="{{ placeholder|default('', true) }}"{% if required %} data-required="true"{% endif %}{{ (' ' ~ required_extras|safe) if required_extras }}>
            {% for error in field.errors %}
            <span class="label label-error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}


{% block body %}
<div class="row">
    <div class="col col-lg-12">
        <div class="page-header">
            <h1>Sign Up</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <form class="form-horizontal" data-persist="garlic" data-validate="parsley" method="post">
            {{ form.hidden_tag() }}
            {{ form_row(form.first_name, placeholder='Max') }}
            {{ form_row(form.last_name, placeholder='Mustermann') }}
            {{ form_row(form.phone, required=False) }}
            {{ form_row(form.mail, placeholder='max.mustermann@example.com', required_extras='data-type="email" data-trigger="change"') }}
            {{ form_row(form.tag) }}
            <div class="row">
                <div class="col col-lg-8 col-offset-2">
                    <button type="submit" class="btn btn-default btn-large btn-block">Sign up</button>
                    <button type="reset" class="btn btn-default btn-large btn-block">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    $('#mail').on('blur', function() {
        $(this).mailcheck({
            suggested: function(element, suggestion) {
                console.log(suggestion)
            },
            empty: function(element) {
                // nop
            }
        });
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
