{% extends 'baselayout.html' %}
{% from 'formhelpers.html' import render_input, render_option %}


{% block body %}
<div class="row">
    <div class="col col-lg-12">
        <div class="page-header">
            <h1>Anmeldung</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <form data-persist="garlic" data-validate="parsley" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Persönliche Angaben</legend>
                {{ render_input(form.first_name, placeholder='Max') }}
                {{ render_input(form.last_name, placeholder='Mustermann') }}
                {{ render_input(form.phone) }}
                {{ render_input(form.mail, placeholder='max.mustermann@example.com', required_extras='data-type="email" data-trigger="change"') }}
                {{ render_option(form.origin) }}
                {{ render_input(form.tag) }}
            </fieldset>

            <fieldset class="kit-only">
                <legend>Weitere Angaben</legend>
                {{ render_option(form.degree, required=False) }}
                {{ render_input(form.semester, type='number', required=False, required_extras='step="1" type="range" min="1" max="16"') }}
            </fieldset>

            <fieldset>
                <legend>Kurswahl</legend>
                {{ render_option(form.languages, required_extras='data-trigger="change"') }}
                {{ render_option(form.courses, required_extras='data-trigger="change"') }}
            </fieldset>

            <fieldset>
                <button type="submit" class="btn btn-default btn-large btn-block">Anmelden</button>
                <button type="reset" class="btn btn-default btn-large btn-block">Zurücksetzen</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script>
    /* TODO: this hides them, when we come back, too -- should trigger only on first run */
    $('.kit-only').hide();

    $('#languages').change(function() {
        /* TODO: filter course list based on this selection */
    });

    $('#origin').change(function() {
        if ($(this).find('option:selected:contains(\'KIT\')').length > 0) {
            $('.kit-only').show();
        } else {
            $('.kit-only').hide();
        }
    });

    $('#mail').on('blur', function() {
        $(this).mailcheck({
            domains: mailcheckDomains['domains'],
            topLevelDomains: mailcheckDomains['topLevelDomains'],

            suggested: function(element, suggestion) {
                console.log(suggestion)
            },

            empty: function(element) {
                // nop
            }
        });
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
