# -*- coding: utf-8 -*-

SECRET_KEY      = 'your-secret-key'
DEBUG           = False

SESSION_COOKIE_SECURE = True
PREFERRED_URL_SCHEME = 'https'

SQLALCHEMY_DATABASE_URI = ''  # tbd
SQLALCHEMY_POOL_SIZE = 5
SQLALCHEMY_POOL_TIMEOUT = 10

PERSONA_JS = 'https://login.persona.org/include.js'
PERSONA_VERIFIER = 'https://verifier.login.persona.org/verify'

CACHE_CONFIG = {'CACHE_TYPE': 'simple'}


# vim: set tabstop=4 shiftwidth=4 expandtab:
