# -*- coding: utf-8 -*-

SECRET_KEY      = 'your-secret-key'
DEBUG           = False

SESSION_COOKIE_SECURE = True
PREFERRED_URL_SCHEME = 'https'

SQLALCHEMY_DATABASE_URI = ''  # tbd
SQLALCHEMY_POOL_SIZE = 5
SQLALCHEMY_POOL_TIMEOUT = 10


# vim: set tabstop=4 shiftwidth=4 expandtab:
