Sprachenzentrum des KIT
-----------------------

Sehr geehrt{{ 'er Herr' if applicant.sex else 'e Frau' }} {{ applicant.first_name ~ ' ' ~ applicant.last_name }},

Sie hatten sich für den Sprachkurs {{ course.full_name() }} am Sprachenzentrum des KIT angemeldet.

Wir mussten Sie heute von der Kursliste streichen, da mindestens einer
der folgenden Gründe zutrifft:

- Sie haben uns informiert, dass Sie den Kurs nicht besuchen können.

- Sie haben den Kurs während der Zahlungsphase nicht bezahlt.

- Sie haben sich als Studierender des KIT angemeldet, wurden aber vom
  System abgelehnt. Den nachträglichen Nachweis ihres Studierendenstatus
  (s. Homepage) haben Sie nicht erbracht und auch die Gebühr nicht bezahlt.

- Sie waren als Gratis-Kursteilnehmer angemeldet und sind zum ersten
  Kurstermin unentschuldigt nicht erschienen.

Ihr Kursplatz wurde durch eine/n Nachrücker/in besetzt.

Bei Rückfragen wenden Sie sich bitte an den jeweiligen Fachbereich:

Englisch <englisch@spz.kit.edu>
Französisch <franzoesisch@spz.kit.edu>
Spanisch <spanisch@spz.kit.edu>
andere Sprachen <info@spz.kit.edu>


Mit freundlichen Grüßen,
Ihr SpZ-Team





Dieses Schreiben wurde maschinell erstellt und ist ohne Unterschrift gültig.
