Sprachenzentrum des KIT
-----------------------

{{ 'Herr' if attendance.applicant.sex else 'Frau' }}: {{ attendance.applicant.first_name ~ ' ' ~ attendance.applicant.last_name }}
Bewerberkreis: {{ attendance.applicant.origin.name }}
E-Mail Adresse: {{ attendance.applicant.mail }}
Kurs: {{ attendance.course.language.name ~ ' ' ~ attendance.course.level }}


Sehr geehrt{{ 'er Herr' if attendance.applicant.sex else 'e Frau' }} {{ attendance.applicant.first_name ~ ' ' ~ attendance.applicant.last_name }},

im Zuge des Nachrückverfahrens haben Sie einen Platz im oben genannten
Sprachkurs erhalten.

Wenn Sie immatrikuliert{{ 'er' if attendance.applicant.sex else 'e' }} Studierend{{ 'er' if attendance.applicant.sex else 'e' }} am KIT sind und in diesem Semester
an maximal einem Sprachkurs (inklusive diesem) teilnehmen, dürfen Sie einfach zum nächsten Kurstermin erscheinen.

Andernfalls zahlen Sie bitte den Kurs zu den auf der Homepage genannten
Zeiten oder vereinbaren einen Sondertermin mit uns.

Falls Sie am Kurs NICHT teilnehmen können, teilen Sie uns dies bitte schnellst
möglich mit, damit andere Personen auf der Warteliste eine Chance erhalten.

Bitte verwenden Sie die für Ihren Sprachkurs zutreffende e-Mail-Adresse:

Englisch <englisch@spz.kit.edu>
Französisch <franzoesisch@spz.kit.edu>
Spanisch <spanisch@spz.kit.edu>
andere Sprachen <info@spz.kit.edu>


Mit freundlichen Grüßen,
Ihr SpZ-Team





Dieses Schreiben wurde maschinell erstellt und ist ohne Unterschrift gültig.
