{% extends 'internal/internal.html' %}

{% block caption %}
Restplätze
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Angebot</th>
                    <th>Restplätze</th>
                    <th>Warteliste</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    {% if course.limit > course.get_active_attendances()|count %}
                    <tr>
                        <td><a href="{{ url_for('course', id=course.id ) }}">{{ course.language.name }} {{ course.level }}</a></td>
                        <td>{{ course.limit }}</td>
                        <td>{{ course.limit - course.get_active_attendances()|count }}</td>
                        <td>{{ course.get_waiting_attendances()|count }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
