{% extends 'internal/internal.html' %}

{% block caption %}
Aktive Teilnahmen nach Herkunft
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui sortable compact small table">
        <thead>
            <tr>
                <th>Herkunft</th>
                <th>Anzahl</th>
            </tr>
        </thead>
        <tbody>
            {% for origin, count in origins_breakdown %}
                <tr>
                    <td>{{ origin.name }}</a></td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
