<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>KIT Sprachenzentrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% assets "all_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div class="print-warning">
            Bitte denk nach, bevor du überteuerte umweltschädliche Farbe auf toten Baum druckst!
        </div>
        <div class="ui grid">
            <div class="three wide computer four wide tablet sixteen wide table column ui vertical menu inverted">
                {% block navbar %}
                    <div class="item">
                        <div class="item">
                            <h1>KIT<br />Sprachen&shy;zentrum</h1>
                        </div>
                        <a class="item" href="{{ url_for('index') }}">Anmeldung</a>
                        <a class="item" href="http://www.spz.kit.edu/"><span class="glyphicon glyphicon-home"></span> Sprachenzentrum</a>
                        <a class="item" href="http://www.spz.kit.edu/angebot.php"><span class="glyphicon glyphicon-globe"></span> Kursangebot</a>
                        <a class="item" href="http://www.spz.kit.edu/223.php"><span class="glyphicon glyphicon-list-alt"></span> Englischtest</a>
                        <a class="item" href="http://www.spz.kit.edu/gebuehren.php"><span class="glyphicon glyphicon-euro"></span> Gebühren</a>
                        <a class="item" href="http://www.spz.kit.edu/253.php"><span class="glyphicon glyphicon-info-sign"></span> Informationen</a>
                    </div>
                {% endblock navbar %}
            </div>
            <div class="main thirteen wide computer twelve wide tablet sixteen wide table column">
                <div class="ui container">
                    <div class="ui centered grid">
                        <div class="row">
                            <div class="ui left aligned column">
                                <div class="ui grid">
                                    <div class="row">
                                        <h1 class="ui header">
                                            {% block caption %}
                                            Anmeldung
                                            {% endblock caption %}
                                        </h1>
                                        {% block subcaption %}
                                        {% endblock subcaption %}
                                        {% block alert %}
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for category, message in messages %}
                                                    <div class="ui {{ category }} message">
                                                        <i class="close icon"></i>
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                        {% endblock alert %}
                                    </div>
                                    {% block body %}
                                    {% endblock body %}
                                    <div class="two column row">
                                        <div class="left aligned column">
                                            <small class="no-print">
                                                <a href="{{ url_for('licenses') }}">Lizenzen</a>
                                                &middot;
                                                <a href="https://github.com/spz-signup/spz-signup">GitHub</a>
                                            </small>
                                        </div>
                                        <div class="right aligned column">
                                            <small class="no-print">
                                                <a href="#top">Nach oben</a>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block scripts %}
        {% assets "all_js" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% endblock scripts %}

        {{ rlrc_comment() }}
    </body>
</html>
