{# Various helpers to render form fields #}
{# Independent short macros, to allow for greater flexibility #}


{% macro render_input(field, width=12, placeholder=None, required=True, skip=False, skip_value=None, required_extras=None, type="text", help=None, icon=None, step=None, min=None, max=None) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    <div class="ui labeled input">
        <div class="ui label" for="{{ field.id }}">
            {% if icon %}<i class="{{ icon }} icon"></i>{% endif %}
            {{ field.label }}
        </div>
        <input type="{{ type }}" id="{{ field.id }}" name="{{ field.id }}"{% if field.data != None %} value="{{ field.data }}" {% endif %} placeholder="{{ placeholder|default('', true) }}"{% if required %} data-required="true"{% endif %}{% if step %} step="{{ step }}"{% endif %}{% if min %} min="{{ min }}"{% endif %}{% if max %} max="{{ max }}"{% endif %}{{ (' ' ~ required_extras|safe) if required_extras }} />
    </div>
    {% if skip %}
        <div class="skip_container">
            <label class="skip_label"><input type="checkbox" name="{{ field.id }}_skipped" data-value="{{ skip_value }}" autocomplete="off" />&nbsp;{{ skip }}</label>
        </div>
    {% endif %}
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_slider(field, required=True, min=0, max=10, step=1, help=None) %}
<div class="{% if required %}required {% endif %}slider field{% if field.errors %} error{% endif %}">
    {{ field.label }}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
    <div class="ui labeled blue slider" data-min="{{ min }}" data-max="{{ max }}" data-step="{{ step }}" data-start="{{ field.data }}">
        <input type="hidden" id="{{ field.id }}" name="{{ field.id }}" value="{{ field.data }}" />
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_file(field, width=12, help=None, required=True) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    {{ field.label }}
    <div class="field">
        <input type="file" id="{{ field.id }}" name="{{ field.id }}" />
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_multiple_files(field, width=12, help=None, required=True) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    {{ field.label }}
    <div class="field">
        <input type="file" id="{{ field.id }}" name="{{ field.id }}" multiple />
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_boolean(field, width=12, help=None, required=False) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    <div class="ui toggle checkbox">
        <input type="checkbox" id="{{ field.id }}" name="{{ field.id }}"{% if field.data %} checked="checked"{% endif %} />
        {{ field.label }}
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_tristate(field, width=12, help=None, required=False) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    <div class="ui tristate">
        <input type="range" id="{{ field.id }}" name="{{ field.id }}" min="0" max="2" value="{{ field.ordinal_value }}" />
        {{ field.labels }}
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if field.description %}<span class="help-block">{{ field.description }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_textarea(field, width=12, placeholder=None, required=True, required_extras=None, help=None) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    {{ field.label }}
    <textarea rows="10" id="{{ field.id }}" name="{{ field.id }}" placeholder="{{ placeholder|default('', true) }}"{% if required %} data-required="true"{% endif %}{{ (' ' ~ required_extras|safe) if required_extras }}>{% if field.data != None %}{{ field.data }}{% endif %}</textarea>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}


{% macro render_option(field, width=12, placeholder=None, required=True, required_extras=None, help=None, multiple=False, size=1, icon=None) %}
<div class="{% if required %}required {% endif %}field{% if field.errors %} error{% endif %}">
    <div class="ui labeled input">
        <div class="ui label" for="{{ field.id }}">
            {% if icon %}<i class="{{ icon }} icon"></i>{% endif %}
            {{ field.label }}
        </div>
        <select{% if multiple %} multiple{% endif %} size="{{ size }}" class="ui fluid search dropdown" id="{{ field.id }}" placeholder="{{ placeholder|default('', true) }}" name="{{ field.id }}"{% if required %} data-required="true"{% endif %}{{ (' ' ~ required_extras|safe) if required_extras }}>
            <option value=""></option>
            {% for id, name in field.choices %}
            <option value="{{ id }}"{% if (field.data is iterable and id in field.data|list) or (id == field.data) %} selected="selected"{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_radio(field, width=12, placeholder=None, required=True, required_extras=None, help=None, multiple=False, size=1, icon=None) %}
<div class="{% if required %}required {% endif %}inline fields{% if field.errors %} error{% endif %}">
    <div class="ui labeled input">
        <div class="ui label" for="{{ field.id }}">
            {% if icon %}<i class="{{ icon }} icon"></i>{% endif %}
            {{ field.label }}
        </div>
        {% for id, name in field.choices %}
            <div class="field">
                <div class="ui radio checkbox{% if id == field.data %} checked{% endif %}">
                    <input class="hidden" id="{{ field.id }}-{{ id }}" name="{{ field.id }}"{% if id == field.data %} checked="checked"{% endif %} value="{{ id }}" type="radio" />
                    <label for="{{ field.id }}-{{ id }}">{{ name }}</label>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for error in field.errors %}
        <span class="ui red pointing prompt label transition visible">{{ error }}</span>
    {% endfor %}
    {% if help %}<span class="help-block">{{ help }}</span>{% endif %}
</div>
{% endmacro %}

{% macro render_submit(submit='Absenden', negative=False) %}
<div class="ui section divider"></div>
<div class="ui fluid buttons">
    <button type="submit" class="ui {{ 'negative' if negative else 'positive' }} button confirm">{{ submit }}</button>
    <div class="or" data-text="/"></div>
    <button type="reset" class="ui button">Zurücksetzen</button>
</div>
{% endmacro %}

{% macro td_sorted(entry) %}
<td data-sort-value="{{ entry }}">{{ entry }}</td>
{% endmacro %}

{% macro csrf_field() %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" data-storage="false" />
{% endmacro %}

{% macro attendance_status(attendance) %}
{% if attendance.waiting %}
    Warteliste
{% else %}
    Fester Platz
    {% if attendance.is_free %}
        Gebührenfrei
    {% elif attendance.discount > 0 %}
        Ermäßigt
    {% else %}
        Vollzahler
    {% endif %}
    {% if attendance.is_unpaid %}
        Ausstehend: {{ attendance.unpaid }} &euro;
    {% elif attendance.amountpaid > 0 %}
        {{ 'Barbezahlt:' if attendance.paidbycash else 'Überwiesen:' }} {{ attendance.amountpaid }} &euro;
    {% endif %}
{% endif %}
{% endmacro %}

{% macro course_status(course) %}
{% if course.status == course.Status.SHORT_WAITINGLIST %}
    {% set icon, color, text = "clipboard list", "orange", "Kurze Warteliste" %}
{% elif course.status == course.Status.LITTLE_VACANCIES %}
    {% set icon, color, text = "loading hourglass", "yellow", "Wenige Restplätze" %}
{% elif course.status == course.Status.VACANCIES %}
    {% set icon, color, text = "hourglass", "green", "Restplätze" %}
{% endif %}
<div class="ui {{ color }} ribbon label">
    <i class="{{ icon }} icon"></i> {{ text }}
</div>
{% endmacro %}
