{% extends 'baselayout.html' %}

{% block caption %}
Lizenzen
{% endblock caption %}


{% block body %}
<div class="row">
    <h4 class="ui dividing header">Semantic UI</h4>
    <a href="http://semantic-ui.com/">semantic-ui.com</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/semantic.txt') }}
        </pre>
    </div>
    <h4 class="ui dividing header">jQuery</h4>
    <a href="https://jquery.com/">jquery.com</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/jquery.txt') }}
        </pre>
    </div>
    <h4 class="ui dividing header">Garlic.js</h4>
    <a href="http://garlicjs.org/">garlicjs.org</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/garlicjs.txt') }}
        </pre>
    </div>
    <h4 class="ui dividing header">moment.js</h4>
    <a href="http://momentjs.com/">momentjs.com</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/momentjs.txt') }}
        </pre>
    </div>
    <h4 class="ui dividing header">mailcheck.js</h4>
    <a href="https://github.com/mailcheck/mailcheck">github.com/mailcheck/mailcheck</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/mailcheckjs.txt') }}
        </pre>
    </div>
    <h4 class="ui dividing header">Lato</h4>
    <a href="http://www.latofonts.com/">www.latofonts.com/</a>
    <div class="license">
        <pre>
{{ include_raw('licenses/lato.txt') }}
        </pre>
    </div>
</div>
{% endblock body %}
