{% extends 'baselayout.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_option, render_radio, render_submit %}

{% block caption %}
Anmeldung {{ config['SEMESTER_NAME'] }}
{% endblock caption %}


{% block body %}
<div class="row">
        <form id="signup" class="ui form" method="post" data-persist="garlic">
            {{ csrf_field() }}
            <h3 class="ui dividing header">Kurswahl</h3>
            {{ render_option(form.course, icon='cube') }}
            <span class="help-block">Englischkurse setzen entsprechende Testresultate voraus. <a href="/vacancies">Restplätze anzeigen.</a></span>
            <h3 class="ui dividing header">Persönliche Angaben</h3>
            <div class="grouped fields">
                {{ render_input(form.first_name, placeholder='Mika', icon='user') }}
                {{ render_input(form.last_name, placeholder='Müller', icon='users') }}
            </div>
            <div class="grouped fields">
                {{ render_input(form.phone, placeholder='0 1521 1234 678', icon='mobile') }}
                {# mail needs an help-block because we write the suggestion in it #}
                {{ render_input(form.mail, placeholder='mika.mueller@beispiel.de', required_extras='data-type="email" data-trigger="change"', help=' ', icon='at') }}
                {{ render_input(form.confirm_mail, placeholder='mika.mueller@beispiel.de', required_extras='data-type="email" data-trigger="change"', help=' ', icon='at') }}
            </div>
            <div class="grouped fields">
                {{ render_option(form.origin, icon='leaf') }}
                {{ render_input(form.tag, skip='Matrikelnummer wird nachgereicht', skip_value="Wird nachgereicht", help='Falls Sie kein KIT-Studierender sind und einen Englischkurs belegen wollen, tragen Sie hier die Ihnen vom Sprachenzentrum erteilte ID ein. Mitarbeiter müssen Ihren KIT-Account (login) eintragen.', icon='barcode') }}
            </div>
            <div class="kit-only">
                <h3 class="ui dividing header">Angaben für Studierende des KIT</h3>
                <div class="grouped fields">
                    {{ render_option(form.degree, required=False, icon='student') }}
                    {{ render_input(form.semester, placeholder='1', type='number', required=False, required_extras='step="1" type="range" min="1" max="26"', icon='calendar') }}
                </div>
                {{ render_radio(form.graduation, required=False, icon='file text outline') }}
            </div>
            <div class="ui message">
                Alle Teilnehmer erhalten zwei Auto-E-Mails: Eine Bestätigungsmail und eine mit der Info über den Ausgang der Verlosung. Sollten Sie diese Mails 48h nach Verlosung noch nicht erhalten haben,
                melden Sie sich bitte bei Ihrem Fachleiter.
            </div>
            {{ render_submit(submit='Absenden') }}
        </form>
</div>
{% endblock body %}


{% block scripts %}
{{ super() }}
{% assets "signup_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock scripts %}
