{% extends 'baselayout.html' %}
{% from 'formhelpers.html' import td_sorted, course_status %}

{% block caption %}
Restplätze {{ config['SEMESTER_NAME'] }}
{% endblock caption %}


{% block body %}
<div class="row">


    {% for language in languages %}
    <h3 class="ui dividing header">{{ language.name }}</h3>
        {# Workaround: groupby cant work with None-values #}
        {% set no_ger = language.courses|rejectattr('ger','string')|list %}
        {% set groups = [(None, no_ger)] if no_ger else [] %}
        {% set groups = groups + language.courses|rejectattr('ger','none')|groupby('ger') %}
        {% for grouper, list in groups %}
        <fieldset class="ui message">
            {% if grouper %}
                <legend>{{ grouper }}</legend>
            {% endif %}
            <ul>
            {% for course in list %}
                <li>{{ course.full_name }}: {{ course_status(course) }}</li>
            {% endfor %}
            </ul>
        </fieldset>
        {% endfor %}
    {% endfor %}
</div>
{% endblock body %}
