{% extends 'internal/internal.html' %}

{% from 'formhelpers.html' import csrf_field, render_input, render_submit %}

{% block caption %}
Englischtest Ergebnisse
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <h3 class="ui dividing header">Import</h3>
    <form class="ui form" method="post" action="{{ url_for('approvals_import') }}" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div class="ui message">
            <h3>Aufbau:</h3>
            <p>Entweder zeilenweiser Aufbau, bitte ohne Header: ID;Prozent, z.b. 123;99</p>
            <p>Oder die aus dem ILIAS exportierte Datei verwenden und entsprechenden Haken setzen.</p>
        </div>
        <div class="field">
            <input type="file" name="file_name">
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="priority">
                <label for="priority">Priorisierte Einträge</label>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="delete_old">
                <label for="delete_old">Bisherige Einträge (priorisiert oder normal) löschen</label>
            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="ilias_export">
                <label for="ilias_export">Datei durch ILIAS exportiert</label>
            </div>
        </div>
        <button type="submit" class="ui fluid positive button">Einlesen</button>
    </form>
</div>

<div class="row">
    <h3 class="ui dividing header">Englischtest-Ergebnisse</h3>
    <form class="ui form" method="post" action="{{ url_for('approvals_check') }}" enctype="multipart/form-data">
        {{ csrf_field() }}
        {{ render_input(form.tag) }}
        {{ render_submit(submit='Anzeigen') }}
    </form>
</div>
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Level</th>
                <th>Per Web-Oberfläche hinzugefügt</th>
                <th>Priorität</th>
            </tr>
        </thead>
        <tbody>
            {% for approval in approvals %}
            <tr>
                <td>{{ approval.percent }}%</td>
                <td>{% if approval.sticky %}Ja {% else %}Nein {% endif %} </td>
                <td>{% if approval.priority %}Ja {% else %}Nein {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
