{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_textarea, render_option, render_boolean, render_submit, render_file %}

{% block caption %}
Mail Zentrale
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <form class="ui form" method="post" id="confirm" enctype="multipart/form-data">
        {{ csrf_field() }}
        <h3 class="ui dividing header">Optionale Angaben</h3>
        {{ render_input(form.mail_cc, required=False) }}
        {{ render_input(form.mail_bcc, required=False) }}
        {{ render_file(form.attachment, required=False) }}
        <h3 class="ui dividing header">Benötigte Angaben</h3>
        {{ render_option(form.mail_reply_to) }}
        {{ render_input(form.mail_subject) }}
        {{ render_textarea(form.mail_body) }}
        <h3 class="ui dividing header">Empfänger der Mail</h3>
        {{ render_option(form.mail_courses, multiple=True, size=10, help='Mail geht an alle, solange nicht gefiltert über Optionen unten') }}
        {{ render_boolean(form.only_active, help='Nur an aktive Teilnehmer im Kurs') }}
        {{ render_boolean(form.only_have_to_pay, help='Nur an aktive Teilnehmer im Kurs, die noch nicht den vollen Betrag gezahlt haben') }}
        {{ render_boolean(form.only_waiting, help='Nur an wartende Teilnehmer im Kurs') }}

        <h3 class="ui dividing header"></h3>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="changes_confirmed" required=true>
                <label for="changes_confirmed">Mail überprüft und alles ok?</label>
            </div>
        </div>
        {{ render_submit(submit='Abschicken')}}
    </form>
</div>
{% endblock internal_body %}
