{% extends 'internal/internal.html' %}

{% from 'formhelpers.html' import csrf_field, render_input, render_submit %}

{% block caption %}
Matrikelnummern
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <h3 class="ui dividing header">Import</h3>
    <form class="ui form" method="post" action="{{ url_for('registrations_import') }}" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div class="ui message">
            <p>Zeilenweiser Aufbau, bitte ohne Header: ID &ndash; z.b. 123</p>
            <strong>Der Import kann bis zu einer Minute Zeit in Anspruch nehmen. Daher bitte Geduld walten lassen und die Seite NICHT neu laden!</strong>
        </div>
        <div class="field">
            <input type="file" name="file_name">
        </div>
        <button type="submit" class="fluid ui positive button">Einlesen</button>
    </form>
</div>

<div class="row">
    <h3 class="ui dividing header">Matrikelnummer/Kürzel-Überprüfung</h3>
    <form class="ui form" method="post" action="{{ url_for('registrations_verify') }}" enctype="multipart/form-data">
        {{ csrf_field() }}
        {{ render_input(form.tag) }}
        {% if tag %}
            {% if tag_exists %}
            <div class="ui positive message">
                Matrikelnummer/Kürzel "{{ tag }}" ist in bereits in der Datenbank.
            </div>
            {% else %}
            <div class="ui negative message">
                Matrikelnummer/Kürzel "{{ tag }}" ist noch nicht in der Datenbank.
            </div>
            {% endif %}
        {% endif %}
        {{ render_submit(submit='Überprüfen') }}
    </form>
</div>
{% endblock internal_body %}
