{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import csrf_field, render_option, render_submit %}

{% block caption %}
Wartelisten Bereinigen
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ csrf_field() }}
        <h3 class="ui dividing header">Bereinige Kurse von wartenden Teilnahmen mit aktivem Parallelkurs folgender Sprache</h3>
        {{ render_option(form.language) }}
        {{ render_submit() }}
    </form>
</div>
{% endblock internal_body %}
