{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_option %}

{% block caption %}
Kurswünsche von <a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name ~ " " ~ applicant.last_name }}</a>
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <fieldset>
                <legend>Kurswünsche</legend>
                <thead>
                    <tr>
                        <th>Kurs</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in applicant.attendances %}
                    <tr>
                        <td><a href="{{ url_for('course', id=attendance.course.id ) }}"> {{attendance.course.language.name }} {{attendance.course.level}} </a></td>
                        <td>
<a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
{{ 'Warteliste' if attendance.waiting else 'Fester Platz' }} 
{% if not attendance.waiting and not attendance.amountpaid > 0 %}, Gebühren{{ 'pflichtig' if attendance.has_to_pay else 'frei' }}{% endif %}
{% if not attendance.waiting and attendance.has_to_pay %}, {{ 'Ermäßigt' if attendance.discounted else 'Vollzahler' }} {% endif %}
{% if not attendance.waiting and attendance.has_to_pay and attendance.amountpaid > 0 %}, {{ 'Barbezahlt' if attendance.paidbycash else 'Überwiesen' }} {% endif %}
</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </fieldset>

        </table>
    </div>
</div>

{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
