{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input %}

{% block caption %}
Bewerbersuche
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_input(form.token, help="Suchen nach Vorname, Nachname, Mail und Matrikelnummer") }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Suche starten</button>
                            <button type="reset" class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>Vorname Nachname</th>
                    <th>E-Mail</th>
                    <th>Matrikelnummer</th>
                    <th>Kurswünsche</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                <tr>
                    <td><a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name }} {{ applicant.last_name }}</a></td>
                    <td>{{ applicant.mail }}</td>
                    <td>{{ applicant.tag }}</td>
                    <td><a href="{{ url_for('applicant_attendances', id=applicant.id)}}">{{ applicant.attendances|count }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
