{% extends 'internal/internal.html' %}

{% block caption %}
Bewerbersuche
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Vorname Nachname</th>
                    <th>E-Mail</th>
                    <th>Herkunft</th>
                    <th>Ident</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in applicants %}
                <tr>
                    <td><a href="{{ url_for('applicant', id=applicant.id)}}">{{ applicant.first_name }} {{ applicant.last_name }}</a></td>
                    <td>{{ applicant.mail }}</td>
                    <td>{{ applicant.origin.name }}</td>
                    <td>{{ applicant.tag }}</td>
                    <td><a href="{{ url_for('applicant_attendances', id=applicant.id)}}">Kurswünsche</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
