{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_option %}

{% block caption %}
Bewerber: {{ form.first_name.data ~ " " ~ form.last_name.data }}
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
		<form class="form-horizontal" method="post">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Persönliche Angaben</legend>
                {{ render_option(form.sex) }}
				{{ render_input(form.first_name, required=False) }}
				{{ render_input(form.last_name, required=False) }}
				{{ render_input(form.phone, required=False) }}
				{{ render_input(form.mail, required=False) }}
				{{ render_input(form.tag, required=False) }}
				{{ render_option(form.origin) }}

                {{ render_option(form.degree) }}
                {{ render_input(form.semester) }}
			</fieldset>

            {% if form.get_attendances() %}
            <legend>Teilnahmen</legend>
            <table class="table table-striped sortable">
                <tbody>
				{% for attendance in form.get_attendances() %}
                    <tr>
                        <td>
							<a href="{{ url_for('course', id=attendance.course.id ) }}"> {{ attendance.course.full_name() }} </a>
                        </td>
                        <td>
                            {{ 'A' ~ attendance.applicant.id ~ 'C' ~ attendance.course.id }}
                        </td>
                        <td>
<a href="{{ url_for('status', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">
{{ 'Warteliste' if attendance.waiting else 'Fester Platz' }}
{% if not attendance.waiting and not attendance.amountpaid > 0 %}, Gebühren{{ 'pflichtig' if attendance.has_to_pay else 'frei' }}{% endif %}
{% if not attendance.waiting and attendance.has_to_pay %}, {{ 'Ermäßigt' if attendance.applicant.discounted else 'Vollzahler' }} {% endif %}
{% if not attendance.waiting and attendance.has_to_pay and attendance.amountpaid > 0 %}, {{ 'Barbezahlt:' if attendance.paidbycash else 'Überwiesen:' }} {{attendance.amountpaid}} &euro; {% endif %}
</a>
                        </td>
                    </tr>
				{% endfor %}
                </tbody>
            </table>
            {% endif %}

            <fieldset>
                {{ render_option(form.remove_from, help='Aus folgendem Kurs entfernen') }}
                {{ render_option(form.add_to, help='Zu folgendem Kurs hinzufügen') }}
            </fieldset>

			<fieldset>
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-2">
						<button id="confirm" type="submit" class="btn btn-primary">Änderungen speichern</button>
					</div>
				</div>
			</fieldset>
			
		</form>
    </div>
</div>
{% endblock internal_body %}


{% block scripts %}
{{ super() }}
<script>
    "use strict";

    $('#confirm').click(function() {
        return confirm("Änderungen bestätigen.");
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
