{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_option %}

{% block caption %}
Bewerber: {{ form.first_name.data ~ " " ~ form.last_name.data }}
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-md-12">
		<form class="form-horizontal" method="post">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Persönliche Angaben</legend>
				{{ render_input(form.first_name, required=False) }}
				{{ render_input(form.last_name, required=False) }}
				{{ render_input(form.phone, required=False) }}
				{{ render_input(form.mail, required=False) }}
				{{ render_input(form.tag, required=False) }}
				<p>form.origin: {{ form.origin }}</p>
				{{ render_option(form.origin) }}
			</fieldset>

			<fieldset>
				<legend>Kurswünsche</legend>
				{% for attendance in form.get_attendances() %}
					<div class="form-group">
						<label for="input_course" class="col-lg-2 control-label">
							<a href="{{ url_for('course', id=attendance.course.id ) }}"> {{attendance.course.language.name }} {{attendance.course.level}} </a>
						</label>
					</div>
				{% endfor %}
			</fieldset>

			<fieldset>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary">Änderungen speichern</button>
					</div>
				</div>
			</fieldset>
			
		</form>
    </div>
=======
=======
    <p>form.data: {{ form.data }}</p>
    <p>form.origin.data: {{ form.origin.data }}</p>
</div>

{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
