{% extends 'internal/internal.html' %}

{% block caption %}
Liste aller Kurse
{% endblock caption %}


{% block internal_body %}
<h3><a href="{ url_for('notifications') }}">Mail an alle Kursteilnehmer</a></h3>
<h2>Kurs: {{ c.language.name }} {{ c.level }}</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Teilnehmer</th>
                    <th>E-mail</th>
                    <th>Telefon</th>
                    <th>Status</th>
                    <th>Herkunft</th>
                    <th>Semester</th>
                    <th>Studiengang</th>
                    <th>Identifikation</th>
                    <th>id</th>
                </tr>
            </thead>
            <tbody>
                {% for applicant in a %}
                <tr>
                    <td>{{ 'Herr' if applicant.Applicant.sex else 'Frau' }} <a href="{{ url_for('applicant', id=applicant.Applicant.id)}}">{{ applicant.Applicant.first_name }} {{ applicant.Applicant.last_name }}</a></td>
                    <td><a>{{ applicant.Applicant.mail }}</a></td>
                    <td>{{ applicant.Applicant.phone }}</td>
                    <td>{{ applicant.Attendance.status.name }}</td>
                    <td>{{ applicant.Applicant.origin.name }}</td>
                    <td>{{ applicant.Applicant.semester }}</td>
                    <td>{{ applicant.Applicant.degree.name }}</td>
                    <td>{{ applicant.Applicant.tag }}</td>
                    <td>{{ applicant.Applicant.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
