{% extends 'internal/internal.html' %}

{% block caption %}
Kurs: {{ course.language.name }} {{ course.level }}
{% endblock caption %}


{% block internal_body %}
<h3><a href="{{ url_for('lists') }}">Liste aller Sprachen</a></h3>
<h2><a href="{{ url_for('language', id=course.language.id) }}">Liste aller {{ course.language.name }}-Kurse </a></h2>
<h3><a href="{{ url_for('notifications') }}">Mail an alle Kursteilnehmer</a></h3>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Teilnehmer</th>
                    <th>E-Mail</th>
                    <th>Telefon</th>
                    <th>Status</th>
                    <th>Herkunft</th>
                    <th>Semester</th>
                    <th>Studiengang</th>
                    <th>Identifikation</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in course.applicant_attendances %}
                <tr>
                    <td>{{ 'Herr' if attendance.applicant.sex else 'Frau' }} <a href="{{ url_for('applicant', id=attendance.applicant.id)}}">{{ attendance.applicant.first_name }} {{ attendance.applicant.last_name }}</a></td>
                    <td><a>{{ attendance.applicant.mail }}</a></td>
                    <td>{{ attendance.applicant.phone }}</td>
                    <td>{{ attendance.status.name }}</td>
                    <td>{{ attendance.applicant.origin.name }}</td>
                    <td>{{ attendance.applicant.semester }}</td>
                    <td>{{ attendance.applicant.degree.name }}</td>
                    <td>{{ attendance.applicant.tag }}</td>
                    <td><a>Entfernen</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
		<h3><a href="">Neuen Teilnehmer hinzufügen</a></h3>
		<p>(Prioritäre Anmeldungen)</p>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
