{% extends 'internal/internal.html' %}

{% block internal_heading %}
<a href="{{ url_for('datainput') }}"> Dateneingabe</a>
{% endblock internal_heading %}


{% block internal_body %}
<div class="row">
    <div class="col-md-12">
        <p>Gültige Matrikelnummern, Zulassungen für Englischkurse</p>
            <a href="{{ url_for('matrikelnummer') }}" class="list-group-item">
                <p class="list-group-item-text text-info">Gültige Matrikelnummern</p>
            </a>
            <a href="{{ url_for('zulassungen') }}" class="list-group-item">
                <p class="list-group-item-text text-info">Zulassungen für Englischkurse</p>
            </a>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
