{% extends 'internal/internal.html' %}

{% block caption %}
Dateneingabe
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-md-12">
        <p>Gültige Matrikelnummern, Zulassungen für Englischkurse</p>
        <a href="{{ url_for('matrikelnummer') }}" class="list-group-item">
            <p class="list-group-item-text text-info">Gültige Matrikelnummern</p>
        </a>
        <a href="{{ url_for('zulassungen') }}" class="list-group-item">
            <p class="list-group-item-text text-info">Zulassungen für Englischkurse</p>
        </a>
        <a href="{{ url_for('status') }}" class="list-group-item">
            <p class="list-group-item-text text-info">Gültige Status (nur Einmal einlesen)</p>
        </a>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
