{% extends 'baselayout.html' %}

{% block head %}
{% assets "tools_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
{% endblock head %}

{% block navbar %}
<li class="sidebar-brand"><a href="{{ url_for('internal') }}">Interner Bereich</a></li>
{% if g.user and g.access %}
<li><a href="{{ url_for('importer') }}" ><span class="glyphicon glyphicon-import"></span> Importieren</a></li>
<li><a href="{{ url_for('lists') }}"><span class="glyphicon glyphicon-list"></span> Kurslisten</a></li>
<li><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-envelope"></span> Mail Zentrale</a></li>
<li><a href="{{ url_for('search_applicant') }}"><span class="glyphicon glyphicon-search"></span> Bewerbersuche</a></li>
<li><a href="{{ url_for('payments') }}"><span class="glyphicon glyphicon-euro"></span> Zahlungen</a></li>
<li><a href="{{ url_for('outstanding') }}"><span class="glyphicon glyphicon-warning-sign"></span> Offene Beträge</a></li>
<li><a href="{{ url_for('statistics') }}"><span class="glyphicon glyphicon-book"></span> Statistiken</a></li>
<li><a href="{{ url_for('duplicates') }}"><span class="glyphicon glyphicon-random"></span> Doppelgänger</a></li>
<li><a href="{{ url_for('restock') }}"><span class="glyphicon glyphicon-repeat"></span> Nachrücker</a></li>
<li><a href="{{ url_for('preterm') }}"><span class="glyphicon glyphicon-star"></span> Prioritäranmeldungen</a></li>
<li><a href="{{ url_for('unique') }}"><span class="glyphicon glyphicon-remove"></span> Wartelisten Bereinigen</a></li>
{% endif %}
{% endblock navbar %}


{% block caption %}
Interner Bereich
{% endblock caption %}


{% block subcaption %}
{% if g.user %}
<div class="pull-right">Angemeldet als <strong>{{ g.user }}</strong>
(<a href="#" class="signout">Abmelden</a>)</div>
{% else %}
<div class="pull-right">Nicht angemeldet. <a href="#" class="signin">Anmelden</a></div>
{% endif %}
{% endblock subcaption %}


{% block body %}
{% if g.user and g.access %}
{% block internal_body %}{% endblock internal_body %}
{% endif %}
{% endblock body %}


{% block scripts %}
{{ super() }}

{% assets "tools_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="{{ config.PERSONA_JS }}"></script>
<script>
    var $URL_ROOT = {{ request.url_root|tojson }};
    var $CURRENT_USER = {{ g.user|tojson }};
</script>
<script src="{{ url_for('static', filename='js/persona.js') }}"></script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
