{% extends 'baselayout.html' %}

{% block navbar %}
<li class="sidebar-brand"><a href="{{ url_for('internal') }}">Interner Bereich</a></li>
{% if g.user and g.access %}
<li data-intro='Startet den Rundgang durch die Funktionen des internen Bereichs' data-step='2'><a id="intro-start"><span class="glyphicon glyphicon-picture"></span> Rundgang</a></li>
<li data-intro='Import von Daten. Beispielsweise Matrikelnummern oder Ergebnisse der ILIAS Englischtests' data-step='2'><a href="{{ url_for('importer') }}" ><span class="glyphicon glyphicon-import"></span> Importieren</a></li>
<li data-intro='Export von Daten. Beispielsweise Kurslisten.' data-step='3'><a href="{{ url_for('exporter') }}" ><span class="glyphicon glyphicon-export"></span> Exportieren</a></li>
<li data-intro='Auflistung aller vorhandenen Kurse und deren Teilnehmer' data-step='4'><a href="{{ url_for('lists') }}"><span class="glyphicon glyphicon-list"></span> Kurslisten</a></li>
<li data-intro='Verschicke Mails an Kursteilnehmer' data-step='5'><a href="{{ url_for('notifications') }}"><span class="glyphicon glyphicon-envelope"></span> Mail Zentrale</a></li>
<li data-intro='Zum Suchen nach einzelnen Kursteilnehmern' data-step='6'><a href="{{ url_for('search_applicant') }}"><span class="glyphicon glyphicon-search"></span> Bewerbersuche</a></li>
<li data-intro='Zur Bearbeitung einzelner Zahlungsvorgänge' data-step='7'><a href="{{ url_for('payments') }}"><span class="glyphicon glyphicon-euro"></span> Zahlungen</a></li>
<li data-intro='Informative Statistiken zur Kursbelegung' data-step='8'><a href="{{ url_for('statistics') }}"><span class="glyphicon glyphicon-book"></span> Statistiken</a></li>
<li data-intro='Wir sind für jede Art von Feedback dankbar' data-step='9'><a href="mailto:daniel+spz@trvx.org?subject=[SPZ] Feedback&cc=roman@zukowsky.de"><span class="glyphicon glyphicon-thumbs-up"></span> Feedback</a></li>
{% endif %}
{% endblock navbar %}


{% block caption %}
Interner Bereich
{% endblock caption %}


{% block subcaption %}
{% if g.user %}
<div class="pull-right" data-intro='Für den internen Bereich musst du authentifiziert sein.' data-step='1' data-position='bottom'>Angemeldet als <strong>{{ g.user }}</strong>
(<a href="#" class="signout">Abmelden</a>)</div>
{% else %}
<div class="pull-right">Nicht angemeldet. <a href="#" class="signin">Anmelden</a></div>
{% endif %}
{% endblock subcaption %}


{% block body %}
{% if g.user and g.access %}
{% block internal_body %}{% endblock internal_body %}
{% endif %}
{% endblock body %}


{% block scripts %}
{{ super() }}
<script src="{{ config.PERSONA_JS }}"></script>
<script>
    var $URL_ROOT = {{ request.url_root|tojson }};
    var $CURRENT_USER = {{ g.user|tojson }};
</script>
<script src="{{ url_for('static', filename='js/persona.js') }}"></script>

<script>
    "use strict";
    var intro = introJs();

    intro.setOptions({
        nextLabel: "Weiter",
        prevLabel: "Zurück",
        skipLabel: "Überspringen",
        doneLabel: "Fertig",
        tooltipPosition: "bottom",
        exitOnEsc: true,
        exitOnOverlayClick: true,
        showStepNumbers: false,
    });

    $("#intro-start").click(function(e) {
        intro.start();
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
