{% extends 'internal/internal.html' %}

{% block caption %}
Sprache: {{ language.name }}
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
        <dl>
            <dt>Anmeldebegin</dt>
            <dd class="fmt-datetime">{{ language.signup_begin }}</dd>
            <dt>Anmeldeschluss</dt>
            <dd class="fmt-datetime">{{ language.signup_end }}</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Maximal</th>
                    <th>Restplätze</th>
                    <th>Bewerber</th>
                    <th>Warteliste</th>
                    <th>Zahlungspflichtig</th>
                    <th>Preis in Euro</th>
                    {# <th>Anwesenheitsliste</th> #}
                    {# <th>Teilnehmerliste</th> #}
                </tr>
            </thead>
            <tbody>
                {% for course in language.courses.all() %}
                <tr class="{% if course.is_overbooked() %}danger{% elif course.is_full() %}warning{% endif %}">
                    <td><a href="{{ url_for('course', id=course.id) }}"><strong>{{ course.language.name }} {{ course.level }}</strong></a></td>
                    <td>{{ course.limit }}</td>
                    <td>{{ course.limit - course.get_active_applicants()|count }}</td>
                    <td>{{ course.attendances|count }}</td>
                    <td>{{ course.get_waiting_applicants()|count }}</td>
                    <td>{{ course.get_paying_applicants()|count }}</td>
                    <td>{{ course.price }}</td>
                    {# <td><a href="">Drucken</a></td> #}
                    {# <td><a href="">Drucken</a></td> #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
