{% extends 'internal/internal.html' %}

{% block caption %}
Sprachen
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sprache</th>
                    <th>Anzahl der Kurse</th>
                    <th>Anzahl der Plätze</th>
                </tr>
            </thead>
            <tbody>
                {% for language, num_courses, num_seats in lang_misc %}
                <tr>
                    <td><a href="{{ url_for('language', id=language.id) }}">{{ language.name }}</a></td>
                    <td>{{ num_courses }}</td>
                    <td>{{ num_seats }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
