{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_textarea, render_option %}

{% block caption %}
Mail Zentrale
{% endblock caption %}


{% block internal_body %}
{% if g.access == 'unrestricted' %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post" id="confirm">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Optionale Angaben</legend>
                    {{ render_input(form.mail_cc, required=False) }}
                    {{ render_input(form.mail_bcc, required=False) }}
                </fieldset>
                <fieldset>
                    <legend>Benötigte Angaben</legend>
                    {{ render_input(form.mail_subject) }}
                    {{ render_textarea(form.mail_body) }}
                </fieldset>
                    <legend>Empfänger der Mail</legend>
                    {{ render_option(form.mail_courses, multiple=True) }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Abschicken</button>
                            <button type="reset"  class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock internal_body %}


{% block scripts %}
{{ super() }}
<script>
    "use strict";

    $('#confirm').submit(function() {
        return confirm("Mailversand bestätigen");
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
