{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input %}

{% block caption %}
Zahlungen
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Belegungsnummer</legend>
                    {{ render_input(form.confirmation_code, placeholder='A#C#', help='Vom Zahlenden zu referenzieren') }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Weiter</button>
                            <button type="reset" class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>Zahlungsart</th>
                    <th>Anzahl</th>
                    <th>Summe</th>
                    <th>Durchschnitt</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                <tr>
                    <td>{{ 'Bar' if stat['cash'] else 'Überweisung' }}</td>
                    <td>{{ stat['count'] }}</td>
                    <td>{{ stat['sum'] }}</td>
                    <td>{{ '%0.2f'|format(stat['avg']) }}</td>
                    <td>{{ stat['min'] }}</td>
                    <td>{{ stat['max'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock internal_body %}
