{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input %}

{% block caption %}
Zahlungen
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Belegungsnummer</legend>
                    {{ render_input(form.confirmation_code, placeholder='A#C#', help='Vom Zahlenden zu referenzieren') }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Weiter</button>
                            <button type="reset" class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
