{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_submit %}

{% block caption %}
Zahlungen
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ form.hidden_tag() }}
        <h3 class="ui dividing header">Belegungsnummer</h3>
            {{ render_input(form.confirmation_code, placeholder='A#C#', help='Vom Zahlenden zu referenzieren') }}
        {{ render_submit(submit='Weiter') }}
    </form>
</div>
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Zahlungsart</th>
                <th>Anzahl</th>
                <th>Summe</th>
                <th>Durchschnitt</th>
                <th>Minimum</th>
                <th>Maximum</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ 'Bar' if stat['cash'] else 'Überweisung' }}</td>
                <td>{{ stat['count'] }}</td>
                <td>{{ stat['sum'] }}</td>
                <td>{{ '%0.2f'|format(stat['avg']) }}</td>
                <td>{{ stat['min'] }}</td>
                <td>{{ stat['max'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock internal_body %}
