{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_boolean, render_submit %}

{% block caption %}
Auffüllen (RND)
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ form.hidden_tag() }}
        <h3 class="ui dividing header">Fülle System mit Teilnahmen mittels Zufallsprinzip</h3>
        {{ render_boolean(form.notify_waiting, help='Zusätzlich Mail für alle wartende Teilnahmen im System schicken') }}
        {{ render_submit() }}
    </form>
</div>
{% endblock internal_body %}
