{% extends 'internal/internal.html' %}

{% block caption %}
Auffüllen (RND)
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Fülle System mit Teilnahmen mittels Zufallsprinzip</legend>
                    {# XXX: Nothing to select here, yet #}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Abschicken</button>
                            <button type="reset"  class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
