{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_option, render_submit %}

{% block caption %}
Auffüllen (FCFS)
{% endblock caption %}

{% block internal_body %}
<div class="row">
    <form class="ui form" method="post">
        {{ form.hidden_tag() }}
        <h3 class="ui dividing header">Fülle folgende Sprache mittels First-Come-First-Served</h3>
        {{ render_option(form.language, help='Basierend auf sequentiellen Eintreffen der Teilnahmen.') }}
        {{ render_submit() }}
    </form>
</div>
{% endblock internal_body %}
