{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_boolean %}

{% block caption %}
<a href="{{ url_for('applicant', id=attendance.applicant.id)}}">{{ attendance.applicant.first_name ~ " " ~ attendance.applicant.last_name }}</a> im Kurs <a href="{{ url_for('course', id=attendance.course.id ) }}">{{ attendance.course.language.name ~ " " ~ attendance.course.level }}</a>
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Teilnahmestatus</legend>
                    <p>Anmeldedatum: <span class="fmt-datetime">{{ form.registered.data }}</span></p>
                    {% if form.payingdate.data %}
                    <p>Bezahldatum: <span class="fmt-datetime">{{ form.payingdate.data }}</span></p>
                    {% endif %}
                    {{ render_boolean(form.waiting) }} 
                    {{ render_boolean(form.has_to_pay) }} 
                    {{ render_boolean(form.discounted) }} 
                    {{ render_boolean(form.paidbycash) }} 
                    {{ render_input(form.amountpaid, type='number') }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Änderungen speichern</button>
                            <button type="reset" class="btn btn-default">Zurücksetzen</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-lg-8 col-lg-offset-2">
                        <h4><a href="">Quittung drucken</a></h4>
                        <h4><a href="{{ url_for('remove_attendance', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}">Teilnahme löschen</a></h4>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock internal_body %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
