{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import render_input, render_boolean, render_option %}

{% block caption %}
<a href="{{ url_for('applicant', id=attendance.applicant.id)}}">{{ attendance.applicant.first_name ~ " " ~ attendance.applicant.last_name }}</a> im Kurs <a href="{{ url_for('course', id=attendance.course.id ) }}">{{ attendance.full_name() }}</a>
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <form class="form-horizontal" method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Teilnahmestatus: {{ 'A' ~ attendance.applicant.id ~ 'C' ~ attendance.course.id }}</legend>
                    <p>Anmeldedatum: <span class="fmt-datetime">{{ form.registered.data }}</span></p>
                    {% if form.payingdate.data %}
                    <p>Letzte Änderung: <span class="fmt-datetime">{{ form.payingdate.data }}</span></p>
                    {% endif %}
                    {{ render_option(form.graduation) }}
                    {{ render_boolean(form.waiting) }}
                    {{ render_boolean(form.has_to_pay) }}
                    {{ render_boolean(form.discounted) }}
                    {{ render_boolean(form.paidbycash, help='Haken wenn Zahlungsart Bar, Kein Haken wenn Zahlungsart Überweisung') }}
                    {{ render_input(form.amountpaid, type='number', help='Ein Zahlbetrag impliziert den Status \'bezahlt\'') }}
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-1">
                            <button type="submit" class="btn btn-primary">Änderungen speichern</button>
                            <button type="reset" class="btn btn-default">Zurücksetzen</button>
                            <a href="{{ url_for('print_bill', applicant_id=attendance.applicant.id, course_id=attendance.course.id) }}"><button type="button" class="btn btn-info">Quittung</button></a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock internal_body %}


{% block scripts %}
{{ super() }}
<script>
    "use strict";

    $('#confirm').click(function() {
        return confirm("Unwiederrufliches Löschen bestätigen");
    });
</script>
{% endblock scripts %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
