{% extends 'baselayout.html' %}

{% block caption %}
Ihre Registrierung war erfolgreich
{% endblock caption %}


{% block body %}
<div class="row">
    <p>
        {{ applicant.first_name ~ ' ' ~ applicant.last_name }} -- Sie haben sich für den Kurs <strong>{{ course.full_name() }}</strong> beworben.
        Sie werden per Mail benachrichtigt, falls Sie einen Kursplatz erhalten oder auf der Warteliste sind.
    </p>

    {% for attendance in applicant.attendances %}
        <h3 class="ui dividing header">{{ attendance.course.full_name() }}</h3>
        {# no panel-body for now; no information to show #}
    {% endfor %}
</div>
{% endblock body %}
