{% extends 'baselayout.html' %}
{% from 'formhelpers.html' import csrf_field, render_input, render_option, render_radio, render_submit %}

{% block caption %}
Anmeldung {{ config['SEMESTER_NAME'] }}
{% endblock caption %}


{% block body %}
<div class="row">
        <form id="signup" class="ui form" method="post" data-persist="garlic">
            {{ csrf_field() }}
            <h3 class="ui dividing header">Kurswahl</h3>
            {{ render_option(form.course, help='Englischkurse setzen entsprechende Testresultate voraus', icon='cube') }}
            <h3 class="ui dividing header">Persönliche Angaben</h3>
            <div class="grouped fields">
                {{ render_input(form.first_name, placeholder='Mika', icon='user') }}
                {{ render_input(form.last_name, placeholder='Müller', icon='users') }}
            </div>
            <div class="grouped fields">
                {{ render_input(form.phone, placeholder='0 1521 1234 678', icon='mobile') }}
                {# mail needs an help-block because we write the suggestion in it #}
                {{ render_input(form.mail, placeholder='mika.mueller@beispiel.de', required_extras='data-type="email" data-trigger="change"', help=' ', icon='at') }}
            </div>
            <div class="grouped fields">
                {{ render_option(form.origin, icon='leaf') }}
                {{ render_input(form.tag, required=False, help='Falls Sie kein KIT-Studierender sind und einen Englischkurs belegen wollen, tragen Sie hier die Ihnen vom Sprachenzentrum erteilte ID ein. Mitarbeiter müssen Ihren KIT-Account (login) eintragen.', icon='barcode') }}
            </div>
            <div class="kit-only">
                <h3 class="ui dividing header">Angaben für Studierende des KIT</h3>
                <div class="grouped fields">
                    {{ render_option(form.degree, required=False, icon='student') }}
                    {{ render_input(form.semester, placeholder='1', type='number', required=False, required_extras='step="1" type="range" min="1" max="26"', icon='calendar') }}
                </div>
                {{ render_radio(form.graduation, required=False, icon='file text outline') }}
            </div>
            {{ render_submit(submit='Absenden') }}
        </form>
</div>
{% endblock body %}


{% block scripts %}
{{ super() }}
<script>
    "use strict";

    $('.ui.form').form({
        fields: {
            first_name: {
                identifier: 'first_name',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Bitte geben Sie einen Vornamen ein.'
                    }
                ]
            },
            last_name: {
                identifier: 'last_name',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Bitte geben Sie einen Nachnamen ein.'
                    }
                ]
            },
            phone: {
                identifier: 'phone',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Bitte geben Sie eine Telefonnumer ein.'
                    }
                ]
            },
            mail: {
                identifier: 'mail',
                rules: [
                    {
                        type: 'email',
                        prompt: 'Bitte geben Sie eine gültige E-Mail Adresse ein.'
                    }
                ]
            },
            origin: {
                identifier: 'origin',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Bitte geben Sie Ihren Bewerberkreis an.'
                    }
                ]
            },
            semester: {
                identifier: 'semester',
                optional: true,
                rules: [
                    {
                        type: 'integer[1..26]',
                        prompt: 'Anzahl der Fachsemester muss zwischen 1 und 26 liegen.'
                    }
                ]
            },
            course: {
                identifier: 'course',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Bitte wählen Sie einen Kurs.'
                    }
                ]
            },
        },
        on: 'blur',
        inline: true,
        transition: 'slide down'
    });

    function check_and_change_kit_visibilty() {
        // XXX: read this from our server data
        if ($('#origin').find('option:selected:contains(\'Fakultät\')').length > 0) {
            $('.kit-only').slideDown();
        } else {
            $('.kit-only').slideUp();
        }
    }
    $(document).ready(function() {
        check_and_change_kit_visibilty();

        // do it again when garlic did its job
        $('#origin').garlic({
            onRetrieve: function() {
                check_and_change_kit_visibilty();
            }
        });
    });
    $('#origin').change(function() {
        check_and_change_kit_visibilty();
    });

    $('#mail').on('blur', function() {
        $(this).mailcheck({
            domains: mailcheckDomains['domains'],
            topLevelDomains: mailcheckDomains['topLevelDomains'],

            suggested: function(element, suggestion) {
                var div = $('<div>', {class: 'suggestion-container'});
                $(div).html('Meinten Sie <em><a id=\'suggestion\'>' + suggestion['full'] + '</a></em>?');
                $('#mail').parent().parent().children('.help-block').append(div);

                $('#suggestion').click(function(e) {
                    $('#mail').val($('#suggestion').text());
                    $('.suggestion-container').remove();
                });
            },

            empty: function(element) {
                $('.suggestion-container').remove();
            }
        });
    });
</script>
{% endblock scripts %}
