{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import td_sorted %}

{% block caption %}
Restplätze
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Kurs</th>
                <th>Angebot</th>
                <th>Restplätze</th>
                <th>Warteliste</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                {% if not course.is_full %}
                <tr>
                    <td><a href="{{ url_for('course', id=course.id ) }}">{{ course.full_name }}</a></td>
                    {{ td_sorted(course.limit) }}
                    {{ td_sorted(course.vacancies) }}
                    {{ td_sorted(course.count_attendances(waiting=True)) }}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
