{% extends 'internal/internal.html' %}
{% from 'formhelpers.html' import td_sorted %}

{% block caption %}
Aktive Teilnahmen nach Herkunft
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Herkunft</th>
                <th>Anzahl</th>
            </tr>
        </thead>
        <tbody>
            {% for origin, count in origins_breakdown %}
                <tr>
                    {{ td_sorted(origin.name) }}
                    {{ td_sorted(count) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
