{% extends 'internal/internal.html' %}

{# TODO(daniel): evaluate the need for auto. refresh
{% block head %}
<meta http-equiv="refresh" content="60">
{% endblock head %}
#}

{% block caption %}
Informationen zur Warteschlange
{% endblock caption %}


{% block internal_body %}
<div class="row">
    <div class="ui warning message">
        <div class="header">
            Unvollständige Liste!
        </div>
        Aus technischen Gründen werden zur Zeit nur einige Tasks (ca. 10) in dieser Liste angezeigt.
    </div>
    <table class="ui selectable sortable compact small striped table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Priorität</th>
                <th>Payload</th>
                <th>Gestartet</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</a></td>
                    <td>{{ task.priority }}</a></td>
                    <td>{{ task.payload }}</td>
                    <td class="fmt-datetime">{{ task.started }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock internal_body %}
