Sprachenzentrum des KIT
-----------------------

Hallo {{ applicant.full_name }},

bitte beachten Sie folgende Neuigkeit zu Ihrer Anmeldung:
    Bewerberkreis: {{ applicant.origin.name }}
    E-Mail Adresse: {{ applicant.mail }}
    Semester: {{ config['SEMESTER_NAME'] }}


{% block message %}
{% endblock message %}


Die zuständigen Fachbereiche erreichen Sie unter:
    Englisch <englisch@spz.kit.edu>
    Französisch <franzoesisch@spz.kit.edu>
    Spanisch <spanisch@spz.kit.edu>
    andere Sprachen <info@spz.kit.edu>


Mit freundlichen Grüßen,
Ihr SpZ-Team



Dieses Schreiben wurde maschinell erstellt und ist ohne Unterschrift gültig.
