{% extends 'mails/basemail.html' %}

{% block message %}
Wir mussten Sie heute von der Kursliste streichen, da mindestens einer
der folgenden Gründe zutrifft:

- Sie haben sich vom Kurs abgemeldet oder uns informiert, dass Sie den Kurs nicht besuchen können.

- Sie haben den Kurs während der Zahlungsphase nicht bezahlt.

- Sie haben sich als Studierender des KIT angemeldet, wurden aber vom
  System abgelehnt. Den nachträglichen Nachweis Ihres Studierendenstatus
  (siehe Homepage) haben Sie nicht erbracht und auch die Gebühr nicht
  bezahlt.

- Sie waren als Gratis-Kursteilnehmer angemeldet und sind zum ersten
  Kurstermin unentschuldigt nicht erschienen.

Ihr Kursplatz wurde durch eine/n Nachrücker/in besetzt.
{% endblock message %}
