{% extends 'mails/basemail.html' %}

{% block message %}
{% if has_to_pay %}
Sie sind zahlungspflichtig im Kurs.

Bitte überweisen Sie die Kursgebühr i. H. v. {{ course.price }} Euro unter Angabe des folgenden Verwendungszwecks:

XD02003911901 {{ applicant.last_name ~ ', ' ~ applicant.first_name ~ ', ' ~ 'A' ~ applicant.id ~ 'C' ~ course.id ~ ', ' ~ course.full_name }}

auf folgendes Konto des KIT:

Deutsche Bundesbank Filiale Karlsruhe
IBAN: DE 5766 0000 0000 6600 1508
BIC: MARK DE F1660

Falls Sie nur aufgrund einer Verzögerung der Rückmeldung als
zahlungspflichtig eingestuft wurden, klären Sie bitte Ihren
Status im betreffenden Büro der jeweiligen Sprache.

Falls Sie doch nicht am Kurs teilnehmen möchten, können Sie sich bis zum {{ signoff_window.strftime("%d.%m.%Y um %H:%M:%S Uhr") }} unter anmeldung.spz.kit.edu/signoff (bitte in die Adresszeile Ihres Browsers kopieren) unter Angabe Ihrer Abmelde-ID abmelden.
Abmelde-ID: {{ applicant.signoff_id }}
Nach Verstreichen dieser Frist melden Sie sich bitte mit dieser E-Mailadresse bei Ihrem Fachleiter ab.


{% else %}
Sie sind gebührenfrei im Kurs.


Diese Gratiskurse werden aus Qualitätssicherungsmitteln finanziert und wir
sind dem zuständigen Senatsausschuss sehr dankbar, dass er das SpZ und damit
alle KIT-Studierenden seit Jahren bei Vermittlung und Erwerb der wichtigen
Schlüsselqualifikation Fremdsprache massiv unterstützt.

Nun unsere Bitte an Sie:

Helfen Sie uns, diese großzügige Regelung aufrecht zu erhalten, indem Sie
uns frühzeitig informieren, falls Sie NICHT mehr am Kurs teilnehmen können.

Aus Gründen der Qualitätssicherung können nur bis zur 3. Kurswoche
Nachrücker von der Warteliste in die Kurse aufgenommen werden.

Wir möchten auch weiterhin verantwortungsvoll mit den uns anvertrauten
Mitteln umgehen.

Vielen Dank für Ihre Unterstützung. Unser Team steht Ihnen in gewohnter
Weise für Fragen und Anregungen gerne zur Verfügung.


Gratiskursteilnehmer, die in der ersten Kurswoche unentschuldigt fehlen,
werden durch Nachrücker ersetzt.

Falls Sie nicht mehr am Kurs teilnehmen können, können Sie sich bis zum {{ signoff_window.strftime("%d.%m.%Y um %H:%M:%S Uhr") }} unter anmeldung.spz.kit.edu/signoff (bitte in die Adresszeile Ihres Browsers kopieren) unter Angabe Ihrer Abmelde-ID abmelden.
Abmelde-ID: {{ applicant.signoff_id }}

Nach Verstreichen dieser Frist melden Sie sich bitte mit dieser E-Mailadresse bei Ihrem Fachleiter ab. Falls Sie sich nicht von allen angemeldeten Kursen abmelden, wird Ihr verbleibender Kurs durch das System automatisch auf "gebührenfrei" gesetzt, d.h. sie brauchen diesbezüglich nichts weiter zu tun.
{% endif %}
{% endblock message %}
