{% extends 'internal/internal.html' %}

{% block caption %}
Prioritäre Anmeldungen
{% endblock caption %}


{% block internal_body %}
<h4>Dateiaufbau:</h4>
<p>csv-Format, Semikolon (;) als Separator</p>
<ul>
<li>Kurs</li>
<li>Vorname</li>
<li>Nachname</li>
<li>E-Mail</li>
<li>Matrikelnummer</li>
<li>Geschlecht</li>
<li>Telefon</li>
<li>Fakultät</li>
<li>Fachsemester</li>
<li>Studiengang</li>
<li>Angestrebter Kursabschlus</li>
</ul>
<p>Kommt eher nicht zum Einsatz</p>
<form method="post" enctype="multipart/form-data">
    <p>
    <input type="file" name="file_name"><br>
    <input type="checkbox" name="delete_old">Bisherige Einträge löschen<br>
    <input type="submit" value="Einlesen">
    </p>
</form>

{% endblock internal_body %}

{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
